/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; /* Cambiado de 2px a 0 para eliminar el borde */
    background: url('imagenes/kali02.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #5a5858;
}

header {
    background-color: rgba(117, 116, 116, 0.8); /* Fondo semitransparente */
    color: #fff;
    padding: 10px;
    text-align: right;
    position: fixed;
    width: 100%; /* Ajustado a 100% para cubrir todo el ancho */
    top: 0;
    z-index: 1000; /* Asegurar que el header esté siempre encima del contenido */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-top: 60px; /* Espacio para el header fijo */
}

section {
    margin-bottom: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para secciones */
    padding: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    color: #333;
}

.project {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px; /* Ajustado para mayor espacio */
    background-color: #d47c41;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Asegurar que el footer esté siempre encima del contenido */
}
